<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  <select id="selectMember" resultType="memberVo">
    select d.dname, count(*) cnt from dept d , emp e where e.dno = d.dno group by d.dname
  </select>
</mapper>